# Go
*.exe
*.test
*.out
vendor/
bin/

# Node
node_modules/
dist/

# Env
.env
.env.local
**/.env

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

_backup/
*.bak
# Secrets
.secrets/
**/.secrets/

# Локальные дампы БД (перенос на другой ПК)
dumps/
*.zip

deploy-package/
